//- div.btn-group(data-toggle="buttons-radio")
//-   button#allButton.btn.active= "All"
//-   button#parentsButton.btn= "Parents/Guardians"
//-   button#studentsButon.btn= "Highschool Students"
//-   button#communityButton.btn= "Community Members"
//-   button#staffButton.btn= "Staff"
div#info

  p#intro= "Last Year The Beaverton School District proposed a bond measure to fill budget gaps, but it was rejected by voters.  Now the school district is faced with some unpleasant choices as it tries to decide what to cut with a $24-$37 million budget shortfall.  With input from the community, the school district designed a survey.  The survey presents nine categories and respondants were asked to rank the categories from most to least important.  As a parent of a child in the Beaverton School District with a stake in the results of the survey, I can tell you that the survey was not easy.  I don't envy the choices that school administrators all across the country are making as school budgets shrink."

  p= "This table shows the average score for each category.  A low score indicates a high priority."

  table#scoreTable.table.table-condensed
    tr
      th= ""
      th= "All"
      th= "Parent or Guardian"
      th= "HS Student"
      th= "District Staff"
      th= "Community Member"
    tr
    tr
      td= "Class Size"
      td.high= "3.48"
      td.high= "3.66"
      td= "4.08"
      td= "5.45"
      td.high= "3.54"
    tr
      td= "College & Career Ready"
      td= "4.62"
      td= "4.43"
      td= "4.80"
      td= "4.21"
      td= "4.32"
      
    tr
      td= "Community Engagement"
      td= "6.90"
      td= "6.95"
      td= "6.21"
      td= "6.38"
      td= "7.12"
      
    tr
      td= "Electives/Specials"
      td= "3.72"
      td= "4.28"
      td.high= "2.72"
      td.high= "3.71"
      td= "4.74"
      
    tr
      td= "Extracurricular Opportunities"
      td= "6.69"
      td= "6.75"
      td= "6.17"
      td= "4.62"
      td= "6.99"
      
    tr
      td= "Great Teachers"
      td.high= "3.19"
      td.high= "3.08"
      td.high= "3.91"
      td.high= "3.29"
      td.high= "2.89"
      
    tr
      td= "Length of School Year"
      td= "6.34"
      td= "5.71"
      td= "7.02"
      td= "6.65"
      td= "5.25"
      
    tr
      td= "Safety"
      td= "4.44"
      td= "4.59"
      td= "4.52"
      td= "5.21"
      td= "4.61"
      
    tr
      td= "Technology"
      td= "5.63"
      td= "5.55"
      td= "5.57"
      td= "5.47"
      td= "5.53"
br(style="clear:both;")
      

